body {
    top: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.top_start {
    text-align: center;
}

.top_start h1 {
    margin-top: 100px;
}

.top_start h3 {
    margin-top: 50px;
    margin-bottom: 150px;
    font-weight: normal;
}

.top_start a {
    padding: 20px 60px;
    background: #4d51ff;
    color: #fff;
    border-radius: 5px;
}

.top_start a:hover {
    background: #3c3fff;
}

img.arrow_down {
    width: 20px;
    margin-top: 10px;
}

.create_diary {
    margin-top: 20px;
}

.store_diary .sentence,
.store_diary .sentence_en {
    display: grid;
}

.create_diary_body {
    text-align: center;
}

.store_diary textarea#sentence, .store_diary textarea#sentence_en {
    width: 100%;
    height: 180px;
    border-width: 4px;
    border-color: #000;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}

.store_diary .sentence label,
.store_diary .sentence_en label,
.edit_diary_body .sentence label,
.edit_diary_body .sentence_en label {
    font-size: 20px;
    margin-right: auto;
}

.create_diary_submit {
    margin-top: 30px;
    float: right;
}

.create_diary_submit input {
    padding: 10px 30px;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    border-width: 3px;
    margin-right: -15px;
    transition: all 0.3s ease-in-out;
}

.create_diary_submit input:hover,
.edit_diary_submit input:hover {
    background: #000;
    color: #fff;
}

.create_diary_translate input {
    padding: 10px 20px;
    margin-left: 920px;
    cursor: pointer;
    background: #3a3aff;
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.create_diary_translate input:hover,
.edit_diary_translate input:hover {
    opacity: 0.7;
}

.create_diary h1 {
    margin: 0;
}

.store_diary .sentence_en {
    margin-top: -22px;
}

.edit_diary_body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

.edit_diary_body .sentence,
.edit_diary_body .sentence_en {
    display: grid;
}

.edit_diary_body textarea#sentence,
.edit_diary_body textarea#sentence_en {
    width: 95%;
}

.edit_diary_body textarea#sentence,
.edit_diary_body textarea#sentence_en {
    width: 95%;
    height: 400px;
    border-width: 4px;
    border-color: #000;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}

.edit_diary_translate, .edit_diary_submit {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
}

.edit_diary_translate input {
    cursor: pointer;
    background: #3a3aff;
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
}

.edit_diary_submit input {
    padding: 6px 20px;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    border-width: 3px;
    transition: all 0.3s ease-in-out;
}

img.edit_img {
    width: 20px;
}

.sentence_header {
    display: flex;
    width: 97%;
    align-items: center;
}

.arrow img {
    width: 30px;
    position: absolute;
}

img.next {
    transform: rotate(-90deg);
    right: 30px;
    top: 400px;
}


img.prev {
    transform: rotate(90deg);
    left: 30px;
    top: 400px;
}

.created_date {
    position: absolute;
    top: 100px;
    right: 150px;
}

.hidden {
    display: none;
}

.alert.alert-success {
    color: #155724; /* テキストの色 */
    background-color: #d4edda; /* 背景色 */
    border-color: #c3e6cb; /* ボーダー色 */
    padding: 10px; /* パディング */
    border-radius: 5px; /* ボーダーの角の丸み */
    margin-bottom: 20px; /* メッセージ間の余白 */
}

.alert.alert-danger {
    color: #721c24; /* テキストの色 */
    background-color: #f8d7da; /* 背景色 */
    border-color: #f5c6cb; /* ボーダー色 */
    padding: 10px; /* パディング */
    border-radius: 5px; /* ボーダーの角の丸み */
    margin-bottom: 20px; /* メッセージ間の余白 */
}
